/**
 * @section Base Styles
 */


input,
textarea,
select,
button {
	font: inherit;
}

.svg {
	height: 2em;
    width: 2em;
	margin-left: 1em;
	&--small {
		height: 1.5em;
		width: 1.5em;
	}
} 

.link-black {
	color: $secondary;
	&:hover {
		color: lighten($secondary, 15%);
	}
}