//#region COLORS

.primary-color {
    color: $primary;
}

.primary-color-fill {
    fill: $primary;

    &--transparent {
        opacity: .5;
    }
}

.secondary-color {
    color: $secondary;
}


.fill-secondary-color {
    fill: $secondary;
}

.white {
    color: white;
}

.black-full {
    color: #000;
}

.fill-white {
    fill: white;

    &--transparent {
        fill: rgba(255, 255, 255, .8);
    }
}

.black {
    color: $black;

    &--hover:hover {
        color: $black;
    }
}

.black-fill {
    fill: $black;
}

.grey-fill {
    fill: grey;

    &--transparent {
        opacity: .5;
    }
}


.primary-background {
    background-color: $primary;
}

.background-secondary {
    background-color: $secondary;
}

//#endregion

