.exposition__img {
  position: sticky;
  top: 40vmax;
  // margin-top: 35vmax;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vmax;
 @include media-breakpoint-up(lg) {
    top: 40vh
  }
}

.exposition__img-container {
  transition: background-color 0.3s linear, max-width 0.6s ease-in-out;
  max-width: 2px;
  background-color: transparent;
  &--visible {
    max-width: 50%;
  }
}

.exposition__item {
  margin-bottom: 55vmin;
  &:last-of-type {
    margin-bottom: 45min;
  }
  &:last-child {
    // margin-bottom: 25vh;
  }
}

.exposition__header {
  margin-bottom: 55vmin;
  margin-top: 20vmin;

  &--spacer {
    color: transparent;
    margin-top: 40px;
    margin-bottom: 30vmin;
  }

  // ?
  &:last-of-type:not(.exposition__header--spacer) {
    margin-top: 20vmin;
  }
}

.section-spacer {
  margin-bottom: 30vmin;
}
