.header {
  min-height: 100vh;
  @include media-breakpoint-up(md) {
    padding-top: 20vh;
    padding-bottom: 15vh;
  }
}
.header__title {
  font-weight: inherit;
  line-height: 1;
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    // font-size: 6vw;
  }
}

//
.header__subtitle {
  letter-spacing: -4px;
  font-weight: inherit;

  // margin-right: -0.2em;
}
